@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

body {
  padding: 0;
  margin: 0;
  box-sizing: content-box;
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
  // background-image: url(../img/city.jpg);
  background-image: url(../img/rain.jpg);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  color: white;
}
.not-visible{
  display: none !important;
}

.container {
  display: flex;
  height: 100vh;
  overflow-y: hidden;
  background-color: rgba(47,79,79, .3);

  .left {
    // flex: 1;
    width: 25vw;
    padding: 2rem 1rem;
    display: flex;
    flex-direction: column;

    .location{
      .localtime{
        overflow: scroll;
        &::-webkit-scrollbar{
          display: none;
        }
        -ms-overflow-style: none;
        scrollbar-width: none;
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      align-items: center;

      button {
        width: max-content;
        padding: .3rem 1rem;
        // font-size: 1.2rem;
      }
      input{
        outline: none;
        border: none;
        border-left: 2px solid white;
        border-bottom: 2px solid white;
        margin: 1rem 0;
        height: 1.5rem;
        width: 90%;
        font-size: 1.2rem;
        background-color: rgba(47, 79, 79, .2);
        color: white;
        padding-left: .5rem;
      }
    }
    .location{
      display: flex;
      flex-direction: column;
      // justify-content: center;
      padding: 1rem 0;
      .location-item{
        color: white;
        // text-align: center;
        // font-size: large;
        font-size: 1.2rem;
        font-weight: bold;

      }
    }

  }

  .right {
    // flex: 3;
    width: 75vw;
    padding-inline: 1rem;

    display: flex;
    flex-direction: column;
    // gap: 20rem;
    .current{
      flex: 1;
    }
    .forecast{
      flex: 2;
    }
  }
}
